<footer class="w3-row w3-indigo w3-opacity-min w3-hover-opacity-off w3-center">
    <div class="w3-col w3-container w3-small">
    <p>Rosemary&#65120;Thyme S.r.l. - P.IVA IT09427620969</p>
    </div>    
</footer>