<head>
<!-- styling -->
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/CSS/main.css">
<link rel="stylesheet" href="/assets/CSS/w3.css">
<!-- include icons.html -->
<!-- JavaScript librares -->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script src="https://kit.fontawesome.com/a3a30eef1a.js" crossorigin="anonymous"></script>
<script src="/assets/JS/main.js"></script>
<script src="/assets/JS/lazysizes.min.js" async=""></script>
<!-- semantics -->
<title>{{ page.title }}</title>
<meta name="description" content="">
<link rel="canonical" href="{{- canonical -}}" />
</head>