---
---
/* -- Google fonts -- */
@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Raleway&display=swap');

/* -- color palette -- */
$bgcolor: white;
$textcolor: #009688;
/* -- font styling -- */
$font-html: Raleway;
$font-header: Rock Salt;
/* -- main container -- */
$main-container-width: 980px;
$main-container-color: pink;
$main-container-padding-TB: 8px;
$main-container-padding-RL: 16px;
/* -- website style deployment -- */
body {
    background-color: $bgcolor;
    color: $textcolor;
    font-family: $font-html;
}
.rt-main-container {
    margin-left: auto;
    margin-right:auto;
    max-width: $main-container-width;
    background-color: $main-container-color;
    padding: $main-container-padding-TB $main-container-padding-RL !important;
}
