{% comment %}
Banner element for image full scren + TAG header 
Variables used:
- lego.DIVid        div id
- lego.img-ref      URL of the image
- lego.img-alt      ALT text for image
- lego.img-maxhght  max heigth, either px or % 
- lego.header       header text
- lego.s-header     short header text for small and medium screens
{% endcomment %}
<!-- banner + TAG -->
{%- capture img-url-xl -%}
https://res.cloudinary.com/assaporami/image/upload/q_auto:best,ar_2:1,c_crop/{{ lego.img-ref }}
{%- endcapture -%}
{%- capture img-url-l -%}
https://res.cloudinary.com/assaporami/image/upload/q_auto,f_auto,w_1700,h_850,c_fill/{{ lego.img-ref }}
{%- endcapture -%}
{%- capture img-url-m -%}
https://res.cloudinary.com/assaporami/image/upload/q_auto,f_auto,w_1200,h_600,c_fill/{{ lego.img-ref }}
{%- endcapture -%}
{%- capture img-url-s -%}
https://res.cloudinary.com/assaporami/image/upload/q_auto,f_auto,w_600,h_400,c_fill/{{ lego.img-ref }}
{%- endcapture -%}
{%- capture img-url-xs -%}
https://res.cloudinary.com/assaporami/image/upload/q_auto,f_auto,w_375,h_280,c_fill/{{ lego.img-ref }}
{%- endcapture -%}
<div class="w3-display-container w3-opacity-min" id="{{- lego.DIVid -}}">
    <picture>
        <source media="(min-width: 1920px)" srcset="{{ img-url-xl }}">
        <source media="(min-width: 1365px)" srcset="{{ img-url-l  }}">
        <source media="(min-width:  751px)" srcset="{{ img-url-m  }}">
        <source media="(min-width:  411px)" srcset="{{ img-url-s  }}">
        <img src="{{ img-url-xs }}"
             alt="{{- lego.img-alt -}}"
             style="width: 100%;
                    max-height:{{- lego.img-maxhght -}};
                    object-fit:cover;"
        />
    </picture>
    
    <div class="w3-display-left w3-opacity" style="white-space:nowrap;">
        <h1 class="w3-center w3-padding-large w3-light-grey w3-xxxlarge w3-wide w3-animate-opacity w3-hide-medium w3-hide-small">{{ lego.header | upcase }}</h1>
        <h2 class="w3-center w3-padding-large w3-light-grey w3-xxlarge w3-wide w3-animate-opacity w3-hide-large">{{ lego.s-header | upcase }}</h2>
      </div>
</div>
<!-- /banner + TAG -->