{% comment %}
Row element for text only, center-aligned: with large text, left-aligned.
Variables used:
- lego.DIVid        div id
- lego.title        header
- lego.H-type       H header type
- lego.content      row text
- lego.w3color      w3css div color

{%- if lego.w3color -%}
    {{- assign color = lego.w3color -}}
{%- endif -%}

{% endcomment %}
<!-- row -->
<div class="w3-row w3-center" id="{{- lego.DIVid -}}">
<div class="w3-auto w3-padding-large w3-left-align w3-large {{ lego.w3color -}}">
    {%- if lego.title != "" -%}
        {%- if lego.H-type == "h1" -%}
        <h1 class="w3-left-align" id="{{- section.id -}}">{{- lego.title -}}</h1>
        {%- elsif lego.H-type == "h3" -%}
        <h3 class="w3-left-align" id="{{- section.id -}}">{{- lego.title -}}</h3>
        {%- else -%}
        <h2 class="w3-left-align" id="{{- section.id -}}">{{- lego.title -}}</h2>
        {%- endif -%}
    {%- endif -%}
    {{- lego.content | markdownify -}}
</div>
</div>
<!-- /row -->