<!DOCTYPE HTML>
<html lang="it">

<!-- head -->
{% include head.html %}

<body>
<!-- header -->
{% include header.html %}
<!-- main -->
{{ content }}
<!-- footer -->
{% include footer.html %}
<!-- end of page JS scripts -->
</body>

</html>